// css for banner

.row-banner-choice
  margin-top:  10px
  .bn-1,.bn-2
    display: inline-block
    text-align: left
  //.action

  input[type="radio"]
    display: inline-block
    margin-top: -2px
  label.add-banner-label
    display: inline-block
    margin-left: 5px
    margin-bottom: 0
    line-height: 20px
    height: 20px
  &.require
    margin-left: auto
    margin-right: auto
    .wrap
      width: 800px
      margin: auto
      .action
        float: left
      .bn-1, .bn-2
        padding: 0 5px
.banner-1
  width: 355px
  height: 100px
  background-image: image-url('banner/space.jpg')

.banner-2
  width: 355px
  height: 100px
  background-image: image-url('banner/cartoons.jpg')

.redcross
  width: 194px
  height: 57px
  background-image: image-url('banner/redcross.png')
  margin-bottom: 10px