// css for header

#header
  .logo
    background-image: image-url('SILlogo.png')
    display: inline-block
    height: 40px
    width: 212px
    margin-bottom: -3px
  .pull-right
    display: inline-block

  .navbar-inner
    min-height: 40px
    padding: 15px 20px
    background-color: #f2f2f2
    background-image: -moz-linear-gradient(top, #f2f2f2, #f2f2f2)
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f2f2f2), to(#f2f2f2))
    background-image: -webkit-linear-gradient(top, #f2f2f2, #f2f2f2)
    background-image: -o-linear-gradient(top, #f2f2f2, #f2f2f2)
    background-image: linear-gradient(to bottom, #f2f2f2, #f2f2f2)
    background-repeat: repeat-x
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='rgb(41, 128, 185)', endColorstr='rgb(41, 128, 185)', GradientType=0)
    -webkit-box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.2)
    -moz-box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.2)
    box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.2)
    border-bottom: 3px solid #f5f6ef
    border-top: 3px solid #f5f6ef
  .navbar .nav > li
    a
      color: #474747
    &.active
      a
        color: #474747
        background-color: #ffffff

  #user_info
    a
      color: #474747
      &:hover, &:focus, &:active
        color: #474747