<div class="container" id="admin">


  <div style="margin-top: 20px">
    <div class="container">
      <div class="tabbable"> <!-- Only required for left/right tabs -->
        <ul class="nav nav-tabs">
          <li class="active"><a href="#import_file" data-toggle="tab">Import File</a></li>
          <li class="control-panel"><a href="#control_panel" data-toggle="tab">Control Panel</a></li>
          <li class="feature-store"><a href="#featured_stores" data-toggle="tab">Featured Stores</a></li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="import_file">
            <div class="import-file">
              <form id="file_upload" method="post" accept-charset="UTF-8">
                <fieldset class="csv">
                  <span>Select file to upload</span>

                  <div class="controls controls-row">
                    <div>
                      <input class="preview-path span4" placeholder="Input search query" type="text">
                    </div>
                    <div><input class="input-pload-file" name="fileData[file]" type="file" accept=".xlsx"/>
                      <button class="btn " type="button">Browser</button>
                    </div>

                  </div>
                  <span class="record-checked hide"></span>

                  <div class="form-actions no-margin-bottom">
                    <button class="btn upload-file" disabled type="button">Upload</button>
                  </div>
                </fieldset>
              </form>
            </div>
          </div>
          <div class="tab-pane" id="control_panel">
            <div>
              <table class="table">
                <thead>
                <tr>
                  <th>#</th>
                  <th>Full Name</th>
                  <th>Username</th>
                  <th>Link Profile</th>
                </tr>
                </thead>
                <tbody id="list_table_body" data-id="1">


                </tbody>
              </table>
              <div class="show-number-user">
                <span>Total <span class="n-all">0</span> users</span>
              </div>
              <div class="pagination">
                <ul class="ul-paginate">
                  <li><a class="paginate first" data-id="1">First</a></li>
                  <li><a class="paginate prev" data-id="1">Prev</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="tab-pane" id="featured_stores">
            <div class="row store-list">
              <legend>Store list</legend>
              <ul class="list list-preview-store">


              </ul>
            </div>
            <div class="row">
              <div class="wrap-form-store">

              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<script>
    $(document).ready(function () {
        admin = new Stuffilike.Views.Admin()
        admin.init()
    })
    window.perpage = <%= @perpage %>
</script>