// css for admin page


#admin
  .tab-content
    overflow: hidden
  .input-pload-file
    width: 100px
    position: absolute
    opacity: 0

  .show-number-user
    line-height: 18px
    vertical-align: middle
    height: 40px
    width: auto
    display: inline-block
    span
      text-transform: capitalize
  .pagination
    margin: 0px
    height: 40px
    display: inline-block
    ui
      li
        a
          padding: 0
    .paginate.active
      background-color: #f1ebe5

  .disable
    pointer-events: none
    opacity: 0.5

  .nav-tabs
    li
      a
        background-color: #ecf0f1
      &.active
        a
          background-color: #ffffff

  #featured_stores
    .row
      margin-left: 0
      &.store-list
        legend
          margin-left: 30px
        .item
          width: 24%
          margin-right: 0.5%
          display: inline-block
          padding: 0
    .wrap-form-store
      legend
        margin-left: 30px
      .section-wrapper
        margin: auto
        width: 70%
        text-align: center
        padding-top: 0
        &.update-image
          width: 100%
          .row-half.row-left
            width: 35%
            margin-left: 2%
          .row-half.row-right
            width: 60%
        .input-full,.input-half
          height: 30px
        .input-full, .textarea-full
          width: 100%
          box-sizing: border-box
          -moz-box-sizing: border-box
          -webkit-box-sizing: border-box
        .row-full
          text-align: left
        .title-form
          text-align: left
        .row-half
          width: 49%
          text-align: left
          display: inline-block
          vertical-align: top
          &.row-left
            margin-right: 1%
          &.row-right
            margin-left: 0.3%
          .input-half
            width: 100%
            box-sizing: border-box
            -moz-box-sizing: border-box
            -webkit-box-sizing: border-box
        .preview-store
          padding: 0

        .image-list-upload
          margin-left: 0
          .btn-add-image
            width: 70px
            .holder-for-icons
              height: 100px
              background-color: #d9e0e0
              text-align: center
              line-height: 100px
              font-size: 50px
              color: #69a5aa
              .add-img-btn
                right: 0
                width: 100%
                padding-left: 0
                margin-top: -215px
                top: 0
                opacity: 0
                cursor: pointer
                height: 100px
                color: transparent
          #image_stream
            .thumbnail.with-content
              padding: 0
              -webkit-box-shadow: none
              -moz-box-shadow: none
              box-shadow: none
              img
                height: 100px
                width: 70px

              .delete-image-icon
                display: none
                position: absolute
                right: -3px
                top: -3px
                width: 20px
                line-height: 16px
                text-align: center
                border-radius: 33px
                height: 20px
                background-color: #abb1b0
                i.icon-remove
                  color: #dd5555

              .thumbnail-hover-w
                width: 50px
                padding: 2px 10px
                bottom: 0
                text-align: center
              input[type='file']
                width: 100%
                bottom: 0
                padding-left: 0
                position: absolute
                opacity: 0
                cursor: pointer
                height: 23px
                line-height: 20px
    .list-preview-store
      .white-card
        .img-w.hover-fader
          i.icon-remove
            position: absolute
            top: 0
            left: 100%
            margin-left: -28px
            width: 20px
            height: 20px
            line-height: 20px
            border-radius: 33px
            background-color: #abb1b0
            text-align: center
            color: #dd5555

            font-size: 18px
            cursor: pointer
      .img-w
        img
          width: 250px
          height: 250px
          min-height: 250px
          min-width: 250px

        figcaption
          opacity: 0
          height: 30px
          line-height: 30px
          width: 100%
          bottom: 0
          position: absolute
          div.shop-actions
            margin: 0 7px
            background-color: #222222
            a
              text-decoration: none
              &:hover
                color: white
        &:hover, &:focus
          figcaption
            opacity: 1
    .warning-create
      p
        color: #ffaf82
    .skip
      text-align: right
      margin-bottom: -35px
      font-size: 20px
      margin-right: 10px
      color: #333333