
// css for items page
#items_page, #my_store
  .list-items
    margin-left: 0
    text-align: center
    .item
      display: inline-block
      margin: 20px 10px 0 10px
    li
      list-style: none
    .no-items
      margin-top: 20px
      color: #474747
      background-color: #f2f2f2
      padding: 10px
      text-align: center
      text-transform: capitalize
#item_images_carousel
  .carousel-inner
    .item
      height: auto


  .product-img-nav
    position: relative
    .carousel-indicators
      left: 0
      top: 30px
      margin-bottom: 20px
      background: transparent
      margin: 0
      height: auto
      overflow: hidden
      list-style: none!important
      li
        cursor: pointer
        width: 70px
        height: auto
        float: left
        display: block
        margin-left: 28px
        margin-bottom: 5px
        -webkit-box-shadow: 0 8px 6px -7px #ccc
        -moz-box-shadow: 0 8px 6px -7px #ccc
        box-shadow: 0 8px 6px -7px #ccc
        &:first-child
          margin-left: 0
        img
          width: 70px
          height: 100px
          display: block
          box-shadow: 0 1px 2px 0 rgba(0,0,0,0.3)
          -webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.3)
          -moz-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.3)
          -webkit-transition: all ease-in-out .2s
          -moz-transition: all ease-in-out .2s
          -o-transition: all ease-in-out .2s
          transition: all ease-in-out .2s

#item_list
  .list-items
    margin: 0
  .item-view
    width: 270px
    .image-view
      display: block
      float: left
      position: absolute
      width: 100%
      height: 200%
    .product-details
      display: inline-block
      line-height: 44px
      height: 44px
      width: 100%
      text-align: left
      span.price
        float: right
      a.name
        text-decoration: none
        color: #000000
        &:hover, &:active, &:focus
          color: #3498db
    .item-footer
      text-align: center
  figure.product-transition
    overflow: hidden
    position: relative
    padding-bottom: 360px
    margin: 0px
    -webkit-box-shadow: 0 8px 6px -7px #999
    -moz-box-shadow: 0 8px 6px -7px #999
    box-shadow: 0 8px 6px -7px #999
    &:hover
      > figcaption
        bottom: 0
    a.image-view
      display: block
      float: left
      position: absolute
      width: 100%
      height: 200%
      -webkit-transform: translate3d(0,0,0)
      -moz-transform: translate3d(0,0,0)
      -ms-transform: translate3d(0,0,0)
      -o-transform: translate3d(0,0,0)
      transform: translate3d(0,0,0)
      -webkit-transition: -webkit-transform 1s cubic-bezier(0.190,1.000,0.220,1.000)
      -webkit-transition-delay: .0s
      -moz-transition: -moz-transform 1s cubic-bezier(0.190,1.000,0.220,1.000) 0s
      -o-transition: -o-transform 1s cubic-bezier(0.190,1.000,0.220,1.000) 0s
      transition: transform 1s cubic-bezier(0.190,1.000,0.220,1.000) 0s
      &:hover
        -webkit-transform: translate3d(0,-50%,0)
        -moz-transform: translate3d(0,-50%,0)
        -ms-transform: translate3d(0,-50%,0)
        -o-transform: translate3d(0,-50%,0)
        transform: translate3d(0,-50%,0)
        -webkit-transition: -webkit-transform 1s cubic-bezier(0.190,1.000,0.220,1.000)
        -webkit-transition-delay: 0s
        -moz-transition: -moz-transform 1s cubic-bezier(0.190,1.000,0.220,1.000) 0s
        -o-transition: -o-transform 1s cubic-bezier(0.190,1.000,0.220,1.000) 0s
        transition: transform 1s cubic-bezier(0.190,1.000,0.220,1.000) 0s
      img
        height: 360px
    a.image-preview
      display: block
      float: left
      position: absolute
      width: 100%
      height: 200%
      -webkit-transform: translate3d(0,0,0)
      -moz-transform: translate3d(0,0,0)
      -ms-transform: translate3d(0,0,0)
      -o-transform: translate3d(0,0,0)
      transform: translate3d(0,0,0)
      -webkit-transition: -webkit-transform 1s cubic-bezier(0.190,1.000,0.220,1.000)
      -webkit-transition-delay: .0s
      -moz-transition: -moz-transform 1s cubic-bezier(0.190,1.000,0.220,1.000) 0s
      -o-transition: -o-transform 1s cubic-bezier(0.190,1.000,0.220,1.000) 0s
      transition: transform 1s cubic-bezier(0.190,1.000,0.220,1.000) 0s
      img
        height: 360px
    figcaption
      background: none repeat scroll 0 0 #222222
      bottom: -80px
      color: #FFFFFF
      font-size: 12px
      left: 0
      position: absolute
      transition: all 0.3s ease-in-out 0s
      width: 100%
      z-index: 4

      .shop-actions
        min-height: 40px
        position: relative
        a.add_to_warehouse_button
          -moz-box-sizing: border-box
          color: #E4E4E4
          float: left
          left: 0
          padding: 10px 0px
          position: absolute
          text-transform: uppercase
          width: 100%
          z-index: 2
          text-decoration: none
          cursor: pointer
          text-align: center
          &:hover
            color: #1bbeb4
          i.icon-plus
            margin-right: 10px
          i.icon-remove
            margin-right: 6px
          span.name-item-store
            text-transform: capitalize
            float: left
            margin-left: 5px
          span.price-item-store
            float: right
            margin-right: 5px


#item_show
  margin-top: 15px
  .item-edit
    margin-top: 5px
    .footer-img-list
      margin-top: 5px
      .thumbnail.with-content
        padding: 0
        -webkit-box-shadow: none
        -moz-box-shadow: none
        box-shadow: none
        &:hover
          -webkit-box-shadow: none
          -moz-box-shadow: none
          box-shadow: none
          > .delete-image-icon
            display: block
        img
          height: 100px
          width: 70px
        .thumbnail-hover-w
          width: 50px
          padding: 2px 10px
          bottom: 0
          webkit-transition: none
          -moz-transition: none
          -o-transition: none
          transition: none
          cursor: pointer
          .thumbnail-hover-text
            text-align: center
            cursor: pointer
        .delete-image-icon
          display: none
          position: absolute
          right: -3px
          top: -3px
          width: 20px
          line-height: 16px
          text-align: center
          border-radius: 33px
          height: 20px
          background-color: rgb(171, 177, 176)
          i.icon-remove
            color: rgb(221, 85, 85)

    .item-info
      .edit-item-btn
        width: 150px
        float: right
      .field-edit
        margin-bottom: 5px
      input
        width: 560px
        border: 1px solid #666
        box-shadow: none
        padding-left: 8px
        border-color: #e5e5e5
        &:hover, &:focus, &:active
          box-shadow: none
          -webkit-box-shadow: none
          -moz-box-shadow: none
          outline: none

      textarea
        width: 560px
        min-height: 80px
        overflow: hidden
        resize: vertical !important
        margin-bottom: 0
        padding: 5px 0 5px 8px
        font-size: 15px
        border-color: #e5e5e5
        box-shadow: none
        -webkit-box-shadow: none
        -moz-box-shadow: none
        outline: none
        &:hover, &:focus, &:active
          box-shadow: none
          -webkit-box-shadow: none
          -moz-box-shadow: none
          outline: none
          border-color: #e5e5e5
      .row
        margin-left: 0
        .tbx
          width: 280px
          display: inline-block

          input
            width: 100%
            box-sizing: border-box
            -moz-box-sizing: border-box
            -webkit-box-sizing: border-box
        .tbx-r
          float: right
        //.category
        //  width: 100%
        //  padding: 0
        //  height: 25px
        //  border: 1px solid #e5e5e5
        //  box-shadow: none
        //  -webkit-box-shadow: none
        //  -moz-box-shadow: none
        //  &:hover, &:active, &:focus
        //    box-shadow: none
        //    -webkit-box-shadow: none
        //    -moz-box-shadow: none

    .add-image
      .holder-for-icons
        height: 100px
        background-color: rgb(217, 224, 224)
        text-align: center
        line-height: 100px
        font-size: 50px
        color: rgb(105, 165, 170)

      .add-img-btn
        right: 0
        width: 100%
        padding-left: 0
        margin-top: -215px
        top: 0
        opacity: 0
        cursor: pointer
        height: 100px
        color: transparent
    form.edit-image-item
      input[type='file']
        width: 100%
        bottom: 0
        padding-left: 0
        position: absolute
        opacity: 0
        cursor: pointer
        height: 23px
        line-height: 20px
.qtip.qtip-edit-image
  .edit-image-form
    .https
      position: absolute
      line-height: 22px
      margin-left: 4px
    .input-edit
      border: 1px solid #666
      box-shadow: none
      padding-left: 33px
      font-size: 10.5px
      &:hover, &:focus, &:active
        box-shadow: none
        -webkit-box-shadow: none
        -moz-box-shadow: none
//css home

#home
  .white-card
    .img-w
      img
        width: 250px
        height: 250px
