
// css for my store page
#my_store
  .store-head
    .background
      img.bg-image
        height: 350px
        width: 100%
      .edit-bg
        background: none repeat scroll 0 0 #222222
        top: 50px
        width: 170px
        position: absolute
        line-height: 40px
        right: 30px
        text-align: center
        opacity: 0
        a
          text-decoration: none
          text-transform: capitalize
          color: #1BBEB4
          i.icon-edit
            margin-right: 5px
        form
          margin-bottom: 0
          input[type=file]
            top: 50px
            position: absolute
            height: 40px
            right: 30px
            opacity: 0
            line-height: 40px
            width: 170px
      &:hover
        .edit-bg
          opacity: 1
          cursor: pointer

  .avatar
    margin-left: 37px
    margin-top: -255px
    position: absolute
    .ava
      display: inline-block
      width: 160px
      height: 160px
      text-align: center
      vertical-align: middle
      &:hover
        .change-ava
          bottom: 0px
          opacity: 1
          a
            color: #1BBEB4
      .wrap-ava
        height: 150px
        line-height: 150px
        img.ava-image
          max-width: 150px
          max-height: 150px
          border: 5px solid white
    .charity
      display: inline-block
      margin-left: 5px
      vertical-align: top


      label
        color: white
        text-transform: capitalize
        font-size: 20px
        font-weight: bold



    .change-ava
      width: 160px
      bottom: 0px
      line-height: 30px
      position: absolute
      text-align: center
      background: none repeat scroll 0 0 #222222
      transition: all 0.3s ease-in-out 0s
      opacity: 0
      form
        margin-bottom: 0
        .edit-avatar-btn
          width: 100%
          position: absolute
          left: 0
          opacity: 0
      a
        text-transform: capitalize
        text-decoration: none
        color: white
        cursor: pointer
        i.icon-edit
          margin-right: 5px


  .container-store
    width: 1320px

  .fullname
    text-align: center
    label
      line-height: 25px
      color: white
      text-transform: uppercase
      font-weight: bold
      position: absolute
      min-width: 162px
      margin-top: -90px
      margin-left: 36px

.loading-more
  text-align: center
  margin: auto
  .loading-img
    background-image: image-url('rectangle_loading.gif')
    height: 25px
    width: 220px
    margin: auto
    text-align: center