// css form sign in, sign up
#users_page
  input[type="text"], input[type="email"], input[type="password"], textarea
    border: 1px solid #C2C2C2
  form.sign_in
    input[type="text"], input[type="email"], input[type="password"]
      padding-left: 10px
      font-size: 16px
      color: #909090
      box-sizing: border-box
      -webkit-box-sizing: border-box
      -moz-box-sizing: border-box
      margin-bottom: 15px
      border-radius: 4px
      height: 40px
      line-height: 24px

    .expand
      width: 100%

    input[type="button"]
      opacity: 0.8
      font-weight: normal
      &:hover, &:focus
        opacity: 1

    #sign_in
      opacity: 0.8
      &:hover, &:focus
        opacity: 1
    .checkbox
      font-size: 16px
      padding-left: 20px
      line-height: 30px
      font-weight: normal
      input[type='checkbox']
        width: 20px
        height: 20px
        margin-right: 10px
  li
    margin-bottom: 12px
  .button
    border-radius: 4px
    padding: 23px 50px 27px

  .button.auth-facebook
    background: -webkit-linear-gradient(90deg, #3B5998 0%, #3B5998 100%) #3B5998
    color: white
    font-size: 20px
    text-decoration: none
    cursor: pointer
    opacity: 0.8
    &:hover
      background: -webkit-linear-gradient(90deg, #3B5998 0%, #3B5998 100%) #ebecee
      color: white
      opacity: 1

  .button.auth-google
    background: -webkit-linear-gradient(90deg, #C63D2D 0%, #C63D2D 100%) #3B5998
    color: white
    font-size: 20px
    text-decoration: none
    cursor: pointer
    opacity: 0.8
    &:hover
      background: -webkit-linear-gradient(90deg, #C63D2D 0%, #C63D2D 100%) #ebecee
      color: white
      opacity: 1

  .btn-primary
    border-radius: 4px
  .button
    background-color: #787c71
    border: medium none
    border-radius: 6px
    color: #FFFFFF
    cursor: pointer
    display: inline-block
    font-family: "Helvetica Neue","HelveticaNeue",Helvetica,Arial,"Lucida Grande",sans-serif
    font-size: 2.4rem
    margin: 0
    outline: medium none
    padding: 15px 10px 15px
    position: relative
    text-align: center
    text-decoration: none
    transition: background-color 0.15s ease-in-out 0s
    &.btn-login, &.btn-signup, &.btn-reset
      padding: 10px
      font-size: 20px
      padding-left: 0 !important
      padding-right: 0 !important
      text-align: center
      width: 40%

    &.full-width
      padding-left: 0 !important
      padding-right: 0 !important
      text-align: center
      width: 100%
    &.auth-facebook
      background-color: #3B5998
      &:hover
        background-color: #354D80

    &.auth-google
      background-color: #C63D2D
      &:hover
        background-color: #D83E2A

  .span4
    h3
      text-align: left
      font-family: "Oswald", "Helvetica Neue", Helvetica, Arial, sans-serif
      font-size: 24px
    .auth
      ul
        margin-left: 0
  .show-grid [class*="span"]
    text-align: left
    background-color: #ffffff

  .font-w
    font-weight: bold
  .part-social
    margin-top: 0
    .sign-up-social
      margin-left: 30px
      line-height: 40px
      text-decoration: none
      cursor: pointer
  .require-page
    margin-top: 20px
    .form-actions
      margin-top: 0
      margin-left: auto
      margin-right: auto
      width: 500px
      &.no-margin-bottom
        margin-top: 0
    .row
      margin-left: 0
      textarea
        resize: vertical !important
        height: 80px
      p
        margin-top: 10px
      .part
        width: 400px
        margin: auto
        input
          margin-bottom: 0
          width: 100%
          box-sizing: border-box
          -moz-box-sizing: border-box
          -webkit-box-sizing: border-box
          height: 40px
          line-height: 38px
        label
          margin-left: 20px
          text-align: left
          color: #f99b90
          padding-bottom: 5px
        .select-charity
          width: 100%
        .chosen-container-single
          .chosen-single
            height: 35px
            line-height: 35px
            text-align: left
          .chosen-results
            text-align: left
    .domain-wrapper
      -webkit-border-radius: 5px
      -moz-border-radius: 5px
      border-radius: 5px
      border: 1px solid #B6C0CD
        //padding-top: 14px
      font-weight: bold
      margin-bottom: 25px
      -moz-box-shadow: 0 2px 2px #e8eaeb
      -webkit-box-shadow: 0 2px 2px #e8eaeb
      box-shadow: 0 2px 2px #e8eaeb
      text-align: center
      background-color: #F0F2F7
      margin: 20px
      margin-left: auto
      margin-right: auto
      width: 500px
    .form-actions
      text-align: center

    .form-header
      text-align: center
      margin: auto
      width: 500px
      font-size: 30px
      font-weight: bold
    [class*="span"]
      margin-left: 15px
    .contain
      text-align: center
.wrap-form
  width: 780px
  text-align: center
  margin-left: auto
  margin-right: auto
  margin-top: 10px

.wrap-login
  text-align: center
  .wrap-cus
    width: 375px
    display: inline-block
    vertical-align: top
    text-align: left
    .title-scn
      margin-left: 25px
#form_sign_up
  label.error
    color: #ff887e

  #sign_up_error
    margin-left: 30px
    background-color: #ccc
  .row
    margin-left: auto
    margin-right: auto
    text-align: center
  .control-group
    margin-bottom: 0
    label
      text-align: left
    #charity
      resize: vertical !important
      border: 1px solid #c2c2c2
      width: 356px
      height: 40px
      line-height: 40px
      box-sizing: border-box
      -moz-box-sizing: border-box
      -webkit-box-sizing: border-box
      padding-left: 10px
      margin-bottom: 0
    .chosen-container-single
      .chosen-single
        line-height: 40px
        height: 38px
        text-align: left
      .chosen-results
        text-align: left
//css user info
#user_info
  float: right
  li
    a
      color: white
      &:hover
        text-decoration: none
      i.icon-sort
        margin-left: 5px
        font-size: 13px
    .mg-r-10
      margin-right: 10px
  &.top-account-control
    width: auto
    padding-top: 0
    a
      text-transform: capitalize
    a.top-sign-in , a.top-create-account
      text-transform: uppercase
      background-color: #f2f2f2
      &:hover
        background-color: #ffffff

  .dropdown-menu
    li
      a
        padding-left: 10px
        &:hover
          background-color: #f2f2f2
  .nav
    li
      a.dropdown-toggle
        padding-left: 5px
        &:hover, &:active, &:focus
          outline: none
.forgot-password
  a
    text-decoration: none
    cursor: pointer
    color: #FF6C1F
    &:hover
      text-decoration: none

#sign_up_error, #reset_password_error
  padding: 10px
  border-radius: 3px
#user_info
  margin-bottom: 0
.app-header
  padding-top: 5px
  padding-bottom: 5px
  height: 26px

.app-header
  ul#main-nav,#user_info
    margin-top: 0
    li
      line-height: 26px
      margin-bottom: 0
      margin-top: 0
      vertical-align: middle
.first-slider-image
  background-image: image_url("first_slider.jpg")
.second-slider-image
  background-image: image_url("second_slider.jpg")

//css for user profile
#profile_page
  margin-top: 10px
  .left-profile
    width: 29%
    margin: auto
    display: inline-block
    vertical-align: top
    padding-top: 45px
    .avatar-part
      text-align: center
      .change-profile-pic
        .edit-avatar-btn
          width: 200px
          margin-top: -60px
          height: 35px
          opacity: 0
        .btn-edit-avatar
          width: 200px
          padding: 5px 0
          margin-top: 5px
    img.avatar
      height: 200px
      width: 200px
  .right-profile
    width: 70%
    margin: auto
    display: inline-block
    vertical-align: top
    .white-card
      margin-left: 10px
      .controls-row
        .input-edit
          width: 100%
          outline: 0
          padding: 5px 6px
          height: 30px
          line-height: 30px
          box-sizing: border-box
          -moz-box-sizing: border-box
          -webkit-box-sizing: border-box
          &.readonly
            background-color: rgb(243, 245, 245)
        #charity
          resize: vertical !important
          min-height: 100px
          height: auto
    .select-charity
      width: 48.717948717948715%
    .form-actions
      margin-top: 20px

    .update-message
      margin-bottom: 50px
      text-align: right
      margin-top: -40px
      width: 100%
      .message
        width: 385px
        padding: 0 10px 5px 10px
        float: right
        margin-bottom: 0
        margin-top: -5px
        background-color: #f2f2f2
        text-align: center
        color: rgb(40, 35, 250)
        font-size: 20px
        &.error
          color: rgb(250, 181, 35)
    .chosen-container-single
      .chosen-single
        line-height: 32px
        height: 32px
        text-align: left
      .chosen-results
        text-align: left