<script type="text/javascript">

    if (window.location.href.indexOf('#_=_') > 0) {
        window.location = window.location.href.replace(/#.*/, '');
    }
</script>
<div id="home">
<div class='carousel slide over-something' id='homepage-carousel'>
  <div class='carousel-inner slider-w'>

    <div class='active item first-slider-image'>

      <div class='container'>
        <h1 class='slider-header'>CREATE YOUR OWN STORE</h1>
        <div class='cta'>
          <a href="/users#sign_up" class="btn btn-cta">Create your own store</a>
        </div>
        <div class='slider-browsers-w clearfix'>
          <div class='slider-browser slider-browser-left hidden-phone' data-position-bottom='-8%'>
            <img alt="Browser-window-1" src="<%= image_url('browser-window.png') %>" />
          </div>
          <div class='slider-browser slider-browser-center' data-position-bottom='-9%'>
            <img alt="Browser-window-2" src="<%= image_url('browser-window.png') %>" />
          </div>
          <div class='slider-browser slider-browser-right hidden-phone' data-position-bottom='-8%'>
            <img alt="Browser-window-3" src="<%= image_url('browser-window.png') %>" />
          </div>
        </div>


    </div>
    </div>

    <div class='item first-slider-image'>
      <div class='container'>
        <h1 class='slider-header'>CREATE YOUR OWN STORE</h1>
        <div class='cta'>
          <a href="/users#sign_up" class="btn btn-cta btn-warning">Create your own store</a>
        </div>
        <div class='row zoomed-browsers-w'>
          <div class='span4'>
            <div class='zoomed-browser'>
              <img alt="Browser-window-1" src="<%= image_url('browser-window.png') %>" />
            </div>
          </div>
          <div class='span4'>
            <div class='zoomed-browser hidden-phone'>
              <img alt="Browser-window-2" src="<%= image_url('browser-window.png') %>" />
            </div>
          </div>
          <div class='span4'>
            <div class='zoomed-browser hidden-phone'>
              <img alt="Browser-window-3" src="<%= image_url('browser-window.png') %>" />
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <a class='carousel-control left' data-slide='prev' href='#homepage-carousel'>
    <i class='icon-chevron-left'></i>
  </a>
  <a class='carousel-control right' data-slide='next' href='#homepage-carousel'>
    <i class='icon-chevron-right'></i>
  </a>
</div>
<div class='sub-slider-features'>
  <div class='container'>
    <div class='row'>
      <div class='span4'>
        <div class='info-bullet'>
          <i class='icon-file'></i>
          <h5>Blog Pages Design</h5>
          <p>Vestibulum placerat purus sed nunc tincidunt ultrices et. Vivamus pharetra aliquet nisi non pretium.</p>
        </div>
      </div>
      <div class='span4'>
        <div class='info-bullet'>
          <i class='icon-tags'></i>
          <h5>Responsive Template</h5>
          <p>Vestibulum placerat purus sed nunc tincidunt ultrices et. Vivamus pharetra aliquet nisi non pretium.</p>
        </div>
      </div>
      <div class='span4'>
        <div class='info-bullet'>
          <i class='icon-cogs'></i>
          <h5>Easy to Customize</h5>
          <p>Vestibulum placerat purus sed nunc tincidunt ultrices et. Vivamus pharetra aliquet nisi non pretium.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<section class='section-wrapper under-slider'>
  <div class='container'>
    <div class='row'>
      <div class='span12'>
        <h3 class='section-header'>Featured Stores</h3>
      </div>
      <% @item_stores.each do | store| %>
          <div class='span3'>
            <div class='white-card'>
              <div class="img-w hover-fader">
                <a  data-rel="lightbox[gallery]">
                  <% if store.photoes %>
                      <% if store.photoes.length > 0 %>

                           <img alt="Photo-card" src="<%= store.photoes[0].link %>">
                      <% else %>
                          <img alt="Photo-card" src="<%= asset_path('test-square.png') %>">
                      <% end %>
                  <% end %>
                          <span class="hover-fade">
                            <i class="icon-zoom-in"></i>
                          </span>
                </a>
              </div>
              <h5><%= store.name %></h5>

            </div>
          </div>
      <% end %>

    </div>
  </div>
</section>
<section class='section-wrapper'>
  <div class='container'>
    <div class='row'>
      <div class='span6'>
        <h3 class='section-header'>Testimonials</h3>
        <div class='testimonials'>
          <div class='testimonials-users row hidden-phone'>
            <div class='span1'>
              <a class='testimonials-user-w active' data-toggle='testimonial' href='#testimonial1'>
                <span class='testimonials-user'><img alt="Avatar-1" src="<%= asset_path('testimonial.png') %>"/></span>
              </a>
            </div>
            <div class='span1'>
              <a class='testimonials-user-w' data-toggle='testimonial' href='#testimonial2'>
                <span class='testimonials-user'><img alt="Avatar-2" src="<%= asset_path('testimonial.png') %>" /></span>
              </a>
            </div>
            <div class='span1'>
              <a class='testimonials-user-w' data-toggle='testimonial' href='#testimonial3'>
                <span class='testimonials-user'><img alt="Avatar-4" src="<%= asset_path('testimonial.png') %>" /></span>
              </a>
            </div>
            <div class='span1'>
              <a class='testimonials-user-w' data-toggle='testimonial' href='#testimonial4'>
                <span class='testimonials-user'><img alt="Avatar-1" src="<%= asset_path('testimonial.png') %>" /></span>
              </a>
            </div>
            <div class='span1'>
              <a class='testimonials-user-w' data-toggle='testimonial' href='#testimonial5'>
                <span class='testimonials-user'><img alt="Avatar-2" src="<%= asset_path('testimonial.png') %>" /></span>
              </a>
            </div>
            <div class='span1'>
              <a class='testimonials-user-w' data-toggle='testimonial' href='#testimonial6'>
                <span class='testimonials-user'><img alt="Avatar-4" src="<%= asset_path('testimonial.png') %>" /></span>
              </a>
            </div>
          </div>
          <div class='testimonials-speeches'>
            <div class="testimonials-speech active" id="testimonial1">
              <p>
                <strong>Homer Simpson is amazing.</strong>
                I've worked with Homer on couple of projects and i really like how lazy he is. Sleeps a lot, does not compain much, a perfect employee.
              </p>
              <div class="speech-by">
                Mr. Burns, Springfield Nuclear Power Plant
              </div>
            </div>
            <div class='testimonials-speech' id='testimonial2'>
              <p>
                <strong>Nulla gravida tellus id fermentum.</strong>
                Phasellus aliquet lobortis dolor, vel aliquam tortor porta vitae. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia.
              </p>
              <div class='speech-by'>
                John Doe, Dundler Mufflin
              </div>
            </div>
            <div class='testimonials-speech' id='testimonial3'>
              <p>
                <strong>Aliquam at sodales arcu.</strong>
                Nulla gravida, tellus id fermentum tempus, urna elit tempus justo, a tincidunt dui lacus nec est. Maecenas ligula ipsum, suscipit quis posuere id, porttitor vitae odio. Phasellus cursus mauris nec felis sollicitudin ac semper quam hendrerit. Morbi sagittis lobortis libero id imperdiet.
              </p>
              <div class='speech-by'>
                John Doe, Dundler Mufflin
              </div>
            </div>
            <div class='testimonials-speech' id='testimonial4'>
              <p>
                <strong>Aenean purus ipsum convallis.</strong>
                Quisque eu est ipsum. Aliquam at sodales arcu. Cras justo velit, pretium quis luctus a, posuere vitae justo. Proin porttitor ultricies justo at semper. Curabitur leo tortor, placerat ut placerat vel, tristique et ipsum. Maecenas at tellus leo, vitae pellentesque velit. Mauris ac augue magna. Vestibulum et magna at urna venenatis vehicula.
              </p>
              <div class='speech-by'>
                John Doe, Solomon Inc
              </div>
            </div>
            <div class='testimonials-speech' id='testimonial5'>
              <p>
                <strong>Maecenas id rutrum enim.</strong>
                Pellentesque fringilla fringilla molestie. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
              </p>
              <div class='speech-by'>
                John Doe, ThemeForest
              </div>
            </div>
            <div class='testimonials-speech' id='testimonial6'>
              <p>
                <strong>Pellentesque habitant morbi tristique</strong>
                Aenean venenatis nisi sit amet massa congue commodo. Aenean purus ipsum, convallis quis rhoncus ut, ullamcorper eget metus.
              </p>
              <div class='speech-by'>
                John Doe, Dundler Mufflin
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="span6">
        <h3 class="section-header"> What We Offer</h3>
        <div class="accordion" id="accordion">
          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle" data-parent="#accordion" data-toggle="collapse" href="#collapseOne">
                What we offer are here
              </a>
            </div>
            <div class="accordion-body collapse in" id="collapseOne">
              <div class="accordion-inner">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class='section-wrapper stripped'>
  <div class='container'>
    <div class='row clients-w'>
      <div class='span12'>
        <h3 class='section-header'>Brands</h3>
      </div>
      <div class='span2'>
        <div class='white-card'>
          <img alt="jellyBelly" src="<%= asset_path('brands/jellyBelly.png') %>" />
        </div>
      </div>
      <div class='span2'>
        <div class='white-card'>
          <img alt="rickshaw" src="<%= asset_path('brands/rickshaw.png') %>" />
        </div>
      </div>
      <div class='span2'>
        <div class='white-card'>
          <img alt="Avery" src="<%= asset_path('brands/Avery.png') %>" />
        </div>
      </div>
      <div class='span2'>
        <div class='white-card'>
          <img alt="skinit" src="<%= asset_path('brands/skinit.png') %>" />
        </div>
      </div>
      <div class='span2'>
        <div class='white-card'>
          <img alt="alternative" src="<%= asset_path('brands/alternative.png') %>" />
        </div>
      </div>
    </div>
  </div>
</section>

<footer>
  <div class='deep-footer'>
    <div class='container'>
      <div class='row'>
        <div class='span6'>
          <div class='copyright'>Copyright &copy; Stuff I Like</div>
        </div>
        <div class='span6'>
          <ul class='footer-links'>
            <li>
              <a>Some</a>
            </li>
            <li>
              <a>Footer</a>
            </li>
            <li>
              <a>Policy</a>
            </li>
            <li>
              <a>Terms Of Use</a>
            </li>
            <li>
              <a>Links</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
</div>


<script>
    if(Stuffilike.currentUser)
        if(Stuffilike.currentRoleAdmin){
            window.location.href = "/items/#items"
        }
        else{
            window.location.href = "/" + Stuffilike.currentUser.get('username')
        }
</script>
