<div  id="my_store" data-value="<%= @username %>">
  <div id="store_header" class="store-head">
    </div>
  <div class="container container-store" id="item_list">
    <ul id="list_items" class="list-items">
      <label class="no-items">There are No Items in your store</label>
    </ul>
    <div class="loading-more hide" data-value="1">
      <div class="loading-img"></div>
    </div>
  </div>

</div>

<script>
    $('#home').empty()
    $('#items_page').empty()
    $('.qtip').hide()
    $('#top-navigation').find('.nav').children('li').removeClass('active')
    $('#top-navigation').find('.nav').children('li.mywarehouse-tab').addClass('active')
    collection = new Stuffilike.Collections.Items(<%= @items.to_json().html_safe %>)
    username = '<%= @username %>'
    self = false
    if( Stuffilike.currentUser){
       if(Stuffilike.currentUser.get('username') == username ){self = true}
    }
    mystore = new Stuffilike.Views.MyStore({username: username, self: self})
    mystore.render()
    var list_items;
    list_items = new Stuffilike.Views.ListItems({
        collection: collection, store: true, self: self
    });
    list_items.render();
</script>