<!DOCTYPE html>
<html>
<head>
  <title>Stuffilike</title>
  <%= stylesheet_link_tag "application", media: "all" %>
  <link href="http://fonts.googleapis.com/css?family=Abel:400|Oswald:300,400,700" media="all" rel="stylesheet" type="text/css" />
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<script type="text/javascript">
    <% if signed_in? -%>
    Stuffilike.currentUser = new Stuffilike.Models.User(<%= current_user.to_json().html_safe %>);
    Stuffilike.currentRoleAdmin = <%= current_user.has_role? :admin %>;
    <% else -%>
    Stuffilike.currentUser = null;
    <% end -%>
    Stuffilike.data = {
        item_image_default: "<%= asset_path('test-square.png')%>",
        avatar_default: "<%= asset_path('test-user.png')%>",
        store_background_default: "<%= asset_path('default_background.jpg')%>"
    }
</script>
<header id="header">
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <div class="logo"></div>
        <div class="nav-collapse subnav-collapse collapse pull-right" id="top-navigation">
          <ul class="nav">
            <% if signed_in? -%>
                <% if !current_user.has_role? :admin -%>
                    <li class="mywarehouse-tab">
                      <a href="/<%= current_user.username %>">My Store</a>
                    </li>
                <% end -%>

                <li class="items-tab">
                  <a href="/items/#items">Warehouse</a>
                </li>
                <% if current_user.has_role? :admin -%>
                    <li class="admin-tab">
                      <a href="/admin">Admin</a>
                    </li>
                <% end -%>
            <% else -%>
                <li class="active home-tab">
                  <a href="/">Home</a>
                </li>
            <% end -%>
          </ul>

          <div id="user_info" class="top-account-control visible-desktop">

          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<%= yield %>

</body>
</html>
